:root {

	/* teals */
	--color-teal: #3d8a93;
	--color-teal-lightest: #edf3f4;
	--color-teal-light: #aec7cb;
	--color-teal-medium: #82a9af;
	--color-teal-dark: #4f868e;
	--color-teal-accent: #4fcad3;

	/* grays */
	--color-gray-5: #b5babe;
	--color-gray-10: #b5babe;
	--color-gray-25: #8d959a;
	--color-gray: #5e6a71;
	--color-gray-75: #404040;
	--color-gray-80: #333;
	--color-gray-90: #191919;

	/* crimsons */
	--color-crimson: #a60f2d;
	--color-crimson-dark: #820c23;
	--color-crimson-accent: #ca1237;
}

body {
	color: var(--color-gray-75);
	font-family: Montserrat, sans-serif;
}

a {
	text-decoration: none;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
	clip: auto;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: .875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

.hero > div:first-of-type {
	color: #fff;
}

h2 {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: .4em;
	margin: 0;
	padding: 18px 0 65px;
	position: relative;
	text-transform: uppercase;
}

p + h2 {
	padding-top: 65px;
}

h2:after {
	background-color: var(--color-teal);
	bottom: 25px;
	content: "";
	height: 10px;
	left: 0;
	position: absolute;
	width: 70px;
}

.hero h2:after {
	margin: 0 auto;
	right: 0;
}

.hero > div:first-of-type h2:after {
	background-color: #fff;
}

p,
.site-content p:first-of-type {
	font-size: 22px;
	font-weight: 400;
	line-height: 1.65;
	margin: 0;
	padding: 0 0 1em;
}

.hero p {
	text-align: center;
}

.site-content p,
.hero > div:first-of-type p {
	font-size: 16px;
	line-height: 2.3;
}

.button a {
	background: var(--color-teal);
	border-radius: 2px;
	box-sizing: border-box;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.2;
	margin-top: 6px;
	min-height: 50px;
	min-width: 190px;
	padding: 17px;
	text-align: center;
	text-transform: uppercase;
	transition: background .4s ease, color .4s ease, border-color .4s ease;
}

.button.white a {
	background: #fff;
	color: var(--color-gray-75);
}

.button.transparent a {
	background: transparent;
	border: 1px solid var(--color-teal);
	color: var(--color-teal);
}

.button a:hover,
.button.white a:hover,
.button.transparent a:hover {
	background: var(--color-teal-accent);
	color: #fff;
}

.button.transparent a:hover {
	border-color: var(--color-teal-accent);
}

.button.crimson a {
	background: var(--color-crimson-accent);
	color: #fff;
}

.button.crimson a:hover {
	background: var(--color-crimson-dark);
}
