html * {
	box-sizing: border-box;
}

body {
	margin: 0;
}

article,
aside,
footer,
header,
main,
nav,
section {
	display: block;
}

#site-header {
	margin: 0 auto;
	max-width: 1920px;
	padding: 0 64px;
	width: 100%;
}

#site-header {
	display: flex;
}

#site-header .logo {
	align-items: center;
	display: flex;
}

#site-header .logo svg:first-of-type {
	margin-right: 16px;
}

#site-navigation {
	margin: 0 0 0 auto;
}

.menu-toggle {
	display: none;
}

#top-menu {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

#top-menu li {
	padding: 0 10px;
}

#top-menu li:last-child {
	padding-right: 0;
}

#top-menu a {
	align-items: center;
	color: rgb(76, 76, 76);
	display: flex;
	font-size: .75em;
	font-weight: 700;
	height: 60px;
	text-transform: uppercase;
}

#content {
	margin: 0 auto;
	max-width: 1920px;
	padding: 0 64px;
	position: relative;
	width: 100%;
}

.vertical-header {
	left: 64px;
	position: absolute;
	top: 330px; /* Rubbish */
	z-index: 1;
}

.vertical-header svg {
	transform: rotate(-90deg) translateY(-173px);
}

.vertical-header h1 {
	font-size: 80px;
	font-weight: 500;
	line-height: .9;
	margin: 0;
}

.vertical-header p {
	font-size: 14px;
	text-transform: lowercase;
}

section {
	margin: 0 auto;
	max-width: 1280px;
	padding: 138px 0;
}

.side-right,
.thirds {
	display: flex;
}

.side-right > div,
.thirds > div {
	flex: 1 1 auto;
}

.side-right > div:first-of-type {
	width: 70%;
}

.hero {
	align-items: center;
	background-position: center;
	background-size: cover;
	content: "";
	left: calc(50% - 50vw);
	max-width: none;
	min-height: calc(100vh - 76px);
	overflow: hidden;
	padding: 0 64px;
	position: relative;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.hero > div {
	max-width: 990px;
	position: relative;
	text-align: center;
	width: 100%;
}

.hero > div:first-of-type {
	align-items: center;
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	justify-content: flex-end;
	padding: 136px 0 385px;
}

.hero > div:first-of-type > * {
	width: 100%;
}

.hero > div:last-of-type {
	padding-bottom: 80px;
}

.hero > div * {
	position: relative;
}

.hero > div:before,
.hero > div:first-of-type:after {
	content: "";
	height: 100%;
	left: calc(50% - (1922px / 2));
	position: absolute;
	top: 0;
	width: 1922px;
}

.hero > div:first-of-type:before {
	background: linear-gradient(to right, rgba(63, 139, 147, 1) 0%, transparent 100%);
	mix-blend-mode: multiply;
	top: -149px;
}

.hero > div:first-of-type:after {
	background: linear-gradient(-171.5deg, transparent 0%, rgba(242, 242, 242, .85) 285px);
	top: calc(100% - 140px);
	z-index: 0;
}

.hero > div:first-of-type:before,
.hero > div:first-of-type:after {
	left: calc(50% - (2070px / 2));
	transform: rotate(-8.5deg);
	width: 2070px;
}

.hero > div:last-of-type:before {
	background: linear-gradient(to bottom, transparent 0%, rgba(242, 242, 242, 1) 50%);
}

@supports (-webkit-clip-path: polygon(0% 100%, 100% calc(100% - 15vw), 100% 100%, 0% 100%)) or (clip-path: polygon(0% 100%, 100% calc(100% - 15vw), 100% 100%, 0% 100%)) {

	.hero > div:first-of-type:before,
	.hero > div:first-of-type:after {
		left: calc(50% - 50vw);
		top: 0;
		transform: none;
		width: 100vw;
	}

	.hero > div:first-of-type:before {
		clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 15vw), 0% 100%);
	}

	.hero > div:first-of-type:after {
		background: linear-gradient(to bottom, transparent calc(100% - 15vw), rgba(242, 242, 242, .85) 100%);
		clip-path: polygon(0% 100%, 100% calc(100% - 15vw), 100% 100%, 0% 100%);
	}

	.hero > div:last-of-type:before {
		background: linear-gradient(to bottom, rgba(242, 242, 242, .85) 0%, rgba(242, 242, 242, 1) 50%);
		left: calc(50% - 50vw);
		width: 100vw;
	}
}

.hero > div:last-of-type:after {
	background: #3f8b93;
	content: "";
	height: 230px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: -280px;
	width: 1px;
}

.circles {
	position: relative;
}

.circles:before {
	background: #a60f2d;
	border-radius: 50%;
	content: "";
	height: 28px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: -14px;
	width: 28px;
}

.background-grid {
	background-image:
		linear-gradient(to bottom, transparent 0%, #fff 70%),
		radial-gradient(#3f8b93 10%, #fff 10%);
	background-size:
		100%,
		12px 12px;
}

#site-footer {
	background: #313131;
	color: #fff;
	overflow: hidden;
	padding: 0 64px;
}

#site-footer a {
	color: #fff;
}

#site-footer div {
	display: flex;
	margin: 100px auto;
	max-width: 1280px;
}

#site-footer div + div {
	border-top: 1px solid #4c4c4c;
	padding: 10px 28px;
}

#site-footer p {
	font-size: 10px;
}

.footer-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-menu > ul {
	display: flex;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

.footer-menu > ul > li:first-of-type {
	margin-right: 110px;
}

.footer-menu > ul > li > a {
	font-weight: 600;
	text-transform: uppercase;
}

.footer-menu ul ul {
	margin-top: 5px;
}

.footer-menu ul ul li {
	padding-top: 9px;
}

#site-footer .hack-a-thon,
.channels {
	margin: 0 0 0 auto;
}

#site-footer .logo {
	margin-right: 32px;
}

.channels ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.channels li + li {
	padding-left: 20px;
}

.channels .back-to-top {
	padding: 0 10px 0 30px;
}

.channels a {
	background: #fff;
	display: block;
	height: 12px;
	width: 12px;
}
